<!-- <app-youtubecomment></app-youtubecomment>
<br>
<p style="background-color: black;">....</p> -->

<div class="container">
  <h2>Subject</h2>
  <div class="col row">
    <div class="col-md-6">
    <app-comp1></app-comp1>
    </div>

    <div class="col-md-6">
      <app-comp2></app-comp2>
      </div>
      <div class="col-md-6">
        <app-comp3></app-comp3>
        </div>
        <div class="col-md-6">
          <app-comp4></app-comp4>
          </div>
    </div>
    <p class="color">......</p>
    <h2>Behavior Subject</h2>
    <div class="col row">
      <div class="col-md-6">
        <app-compforbehaviorsub5></app-compforbehaviorsub5>
        </div>
        <div class="col-md-6">
          <app-compforbehaviorsub6></app-compforbehaviorsub6>
          </div>
          <div class="col-md-6">
            <app-compforbehaviorsub7></app-compforbehaviorsub7>
            </div>
            <div class="col-md-6">
              <app-compforbehaviorsub8></app-compforbehaviorsub8>
              </div>
      </div>
  </div>


<router-outlet></router-outlet>
